

<div class="header border-bottom border-dark border-2 mb-32">
    <div class="container">
        <div class="row">
            <div class="my-md-7 my-sm-3 d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-around  align-items-center">
                    <h1 class="me-3"><a href="#">logo</a></h1>
                    <p class="fs-32 mr-4 fw-bold align-items-center d-none d-lg-block">7TAO<span class="fs-16 fw-bold me-5">活動訂票網</span></p></a>
                    <div class="search d-flex align-items-center">
                        <div class="input-group">
                            <input type="text" class="form-control fs-16 rounded-0 border-dark py-6 ps-4" placeholder="探索活動" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-outline-secondary border-dark text-white bg-dark rounded-0" type="button" id="button-addon2">
                                <i class="icofont-search-1 py-3 px-3"></i></button>
                        </div>
                    </div>
                </div>
                <div class="d-none d-lg-block">
                    <ul class="login list-unstyled d-flex">
                        <li class="font-second"><a href="#" class="text-decoration-none text-dark fw-bold me-4"><i class="icofont-ui-file me-md-1"></i>REGISTER</a></li>
                        <li class="font-second"><a href="#" class="text-decoration-none text-dark fw-bold me-4"><i class="icofont-ui-user ms-md-7 me-md-1"></i>LOGIN</a></li>
                    </ul>
                </div>
                <div class="d-block d-lg-none">
                    <div class="hamburger">
                        <button class="btnStyle d-flex justify-content-center align-items-center border border-dark rounded w-54 h-38" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <span class="material-symbols-outlined">
                                menu
                            </span>
                        </button>
                    </div>
                    <div class="collapse menuShow" id="collapseExample">
                        <ul class="list-unstyled border-bottom border-2 border-dark py-4">
                            <li class="container font-second loginItem mb-3">
                                <a href="#" class="d-flex align-items-center text-decoration-none text-dark fw-bold">
                                    <i class="icofont-ui-file me-md-1"></i>
                                REGISTER
                                </a>
                            </li>
                            <li class="container font-second loginItem">
                                <a href="#" class="d-flex align-items-center text-decoration-none text-dark fw-bold">
                                    <i class="icofont-ui-user me-md-1"></i>
                                LOGIN
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>