h1 a{
    background-image: url(../images/logo.png);
    display:block;
    width: 53px;
    height: 53px;
    text-indent:25em;
    overflow:hidden;
    white-space:nowrap;
    background-size: contain;
    background-repeat: no-repeat;
}